.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 50px;
    width: 100%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#ddd;
   -webkit-box-shadow: 0 8px 6px 6px black;
     -moz-box-shadow: 0 8px 6px 6px black;
          box-shadow: 0 8px 6px 6px black;
}
footer p{
     padding: 5px 0 12px 10px;
}

.flashcard {
  border: 1px solid black;
  width: 500px;
  height:350px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display:table-cell;
  vertical-align:middle;
  font-size: 3em;
}

.hidden {
  display: none;
}