<section data-ng-controller="ArticlesController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="side1">Side 1</label>
			<div class="controls">
				<textarea data-ng-model="side1" id="side1" cols="30" rows="5" placeholder="Side 1"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="side2">Side 2</label>
			<div class="controls">
				<textarea data-ng-model="side2" id="side2" cols="30" rows="5" placeholder="Side 2"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>